<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IPNMP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IPNMP.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=164.8.8.250,2152;Initial Catalog=IPNMP;User Id=IPNMPUSER;Password=IPNMPUSER1234;</value>
            </setting>
        </IPNMP.Properties.Settings>
    </applicationSettings>
</configuration>